<h4>Hero Details</h4>
<div class="text-center" *ngIf="loading" >
    <i class="fa fa-spinner fa-spin fa-2x fa-fw"></i>
</div>
<div *ngIf="hero">      
  <div class="container-fluid">
      <div class="card m-1"> 
          <div class="card-body">
              <h5 class="card-title">{{hero.name | uppercase}}</h5>
              <div><span>id: </span>{{hero.id}}</div>
              <hr/> 
              <div class="form-group">
                  <label>Name: </label>
                  <input type="text" class="form-control" [(ngModel)]="hero.name" placeholder="name">
              </div>
              <button pButton type="button" label="Save" icon="fa-floppy-o" iconPos="left" (click)="save()"></button>    
              <button pButton type="button" label="Back" icon="fa-hand-o-left" iconPos="left" (click)="goBack()"></button>  
          </div>            
      </div>
  </div>
</div>