<h3>Top Heroes</h3>
<div class="text-center" *ngIf="loading" >
  <i class="fa fa-spinner fa-spin fa-2x fa-fw"></i>
</div>
<hr/>
<ul class="nav nav-pills justify-content-center">
  <li class="nav-item mx-1" *ngFor="let hero of heroes">
    <a class="nav-link active" [routerLink]="['/detail', hero.id]">{{hero.name}}</a>
  </li> 
</ul>
<!-- <ul class="list-inline text-center d-flex justify-content-center align-items-center">
  <a *ngFor="let hero of heroes" class="list-inline-item col-1-4" [routerLink]="['/detail', hero.id]">  
    <h4>{{hero.name}}</h4>   
  </a>
</ul>   -->