<p-confirmDialog header="Confirmation" icon="fa fa-question-circle" width="425" #cd>
    <p-footer>
        <button type="button" pButton icon="fa-check" label="Yes" (click)="cd.accept()"></button>
        <button type="button" pButton icon="fa-close" label="No" (click)="cd.reject()"></button>        
    </p-footer>
</p-confirmDialog>
<h2> My Heroes </h2>
<div class="form-group">
    <label>Name: </label>
    <input type="text" class="form-control" placeholder="name" #heroName>
    <button type="button" class="ui-button-success mt-1" (click)="add(heroName.value)" pButton icon="fa-plus-circle" label="Add Hero"></button>
</div>   
<div class="text-center" *ngIf="loading" >
    <i class="fa fa-spinner fa-spin fa-2x fa-fw"></i>
</div>
<div class="container-fluid">
    <div class="row card-group">
        <div class="col-md-4" *ngFor="let hero of heroes">
            <div class="card mb-1">
                <div class="card-body">
                    <h5 class="card-title">{{hero.name | uppercase}}</h5>
                    <p class="card-text">Some short description of what this hero does...</p>                     
                    <hr/> 
                    <div class="container justify-content-center">
                        <button pButton type="button" class="ui-button-danger mt-1" (click)="delete(hero)" icon="fa-trash" label="Delete"></button>                
                        <button pButton type="button" class="ui-button-info mt-1" (click)="goDetails(hero)" icon="fa-info" label="Details"></button>          
                    </div>                  
                             
                </div>
            </div>
        </div>        
    </div>
</div>

    